<header class="py-3 mb-4 border-bottom" id="header">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
      <span class="fs-4" _msttexthash="280475" _msthash="66">Northwin</span>
    </a>
  </div>
</header>

<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="#" class="nav-link active" aria-current="page" _msttexthash="59059"
        _msthash="14">Categorias</a></li>
    <li class="nav-item"><a href="#" class="nav-link" _msttexthash="136006" _msthash="15">Formulario</a></li>
    <li class="nav-item"><a href="#" class="nav-link" _msttexthash="107419" _msthash="18">Acerca de</a></li>
  </ul>
</header>

<body>
  <div class="container-md" id="tablaCategoria">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripcion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaCategorias ">
          <td>{{item.NombreCategoria}}</td>
          <td>{{item.Descripcion}}</td>
          <td>
            <button type="button" class="btn btn-warning btn-sm" (click)="onEditForm(item,item.Id)">Editar</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteCategoria(item.Id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container" id="formulario">
    <div class="col">
      <h2>Formulario de Categorias</h2>
    </div>

    <form [formGroup]="formCategoria" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="col">
          <input formControlName="nombreCategoria" type="text" class="form-control" placeholder="Nombre Categoria">
        </div>
        <div class="col">
          <input formControlName="descripcion" type="text" class="form-control" placeholder="Descripcion">
        </div>
      </div>
      <div class="col">
        <button type="submit" *ngIf="mostrarAdd" class="btn btn-primary mb-2"
          (click)="guardarCategoria()">Guardar</button>
        <button type="submit" *ngIf="mostrarUpdate" class="btn btn-primary mb-2" (click)="onEditCategoria()"
        >Editar</button>
      </div>
    </form>
  </div>
</body>